/* 0 Variables */
:root {
  --main-color:#39C1A3;
}
/* 1 Variables */

/* 0 Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-transform:capitalize;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif; 
  background-color:#1E1A31;  
}

ul {
  list-style: none;
}

a {
  text-decoration:none; 
  text-transform:capitalize;
}

button {
  border:none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
   .container {
    width: 570px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
  .container {
    width: 570px;
  }  
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* 1 Global Rules */

/* 0 Header */
header{
}

header .container{
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:relative;
}

header .container::after{
  content:"";
  position:absolute;
  height:1px;
  background-color:white;
  width:calc(100% - 30px);
  bottom:0;
  left:15px;
  z-index:-1;
}

header .container ul .logo img {
  height:40px;
}

span {
  color:white;
}

header .container nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content:center;
  align-items:center;
}

@media (max-width:767px) {
  .container {
    max-width:500px;
  }
  nav ul {
    flex-direction:column;
    flex-basis:100%;
    background-color:#24243E;
  }
  header nav ul li a {
    padding:15px !important;
  }

  .form,header .container::after {
    display:none;
  }
}

header nav ul li a {
  padding: 30px 8px;
  display: block;
  color: var(--main-color);
  transition: 0.5s;
  font-size: 16px;
}

header nav ul li a.active,
header nav ul li a:hover {
  border-bottom: 1px solid #39C1A3;
}

header nav ul li a.active {
  color:white;
}

header nav ul li a:hover {
  color:white;
}

.form {
  width: 30px;
  height: 30px;
  background-color:var(--main-color);
  position: relative; 
  border: 1px solid var(--main-color);
}

.form::before {
  content:"search";
  color:#ddd;
  position:absolute;
  background-color:white;
  width:540%;
  height:100%;
  border-radius:8px;
  left:-160px;
}


.form i { 
  left:50%;
  top: 50%; 
  color: white;
  font-size: 20px;
  position: absolute;
  transform: translate(-50%,-50%);
  transition:0.5s;
}

.form:hover {
  border-color:black;
}
.form i:hover {
  color:black;
}
/* 1 Header */

/* 0 land */
.landing .container  {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:row-reverse;
}

@media (max-width: 768px) {
  .landing .container {
    flex-direction:column;
  }
}

.landing .container .bio h1 {
  color:white;
  font-size:30px;
  padding-bottom:20px;
}

.landing .container .bio h2{
  color:#aaa;
  margin-bottom:10px;
}

.landing .container .bio p {
    padding-bottom:20px;
    color:#ccc;
}

.landing .container .bio .bio-link span {
    color: var(--main-color);
}

.landing .container .bio .bio-link button {
  padding:9px;
  background-color:var(--main-color);
  border-radius:5px;
}

.landing .container .bio .bio-link button a {
   color:white;
}

.landing .container .bio .bio-link button:hover {
   background-color:#322C62;
   color:white;
}

.land-img img {
  height:400px;
}

@media (max-width: 992px) {
  .land-img img {
    height:350px;
 }
}
/* 1 land */

/* 0 Our Key features  */
.features {
  background-color:#262340;
  margin-top:30px;
  padding:30px 0;
}

.features .container h1 {
  text-align:center;
  color:white;
} 
.features .container h2 {
  text-align:center;
  font-size:15px;
  color:#aaa;
}

.features .container .key-photo img {
  height:350px;
}

.grid {
  display:grid;
  grid-template-columns:repeat(3, 1fr);
 
}

.box {
  position:relative;
  padding:20px;
  margin:10px;
  display:flex;
  justify-content:center;
  align-items:center;
  background:rgba(0, 0, 0,0.5);
  border-radius:8px;
  overflow:hidden;
}

.box::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 450px;
  background: linear-gradient(#00ccff,#d400d4);
  animation: animate 3s linear infinite;
}

.box::after {
  content:"";
  position:absolute;
  inset:3px;
  background-color:#1E1A31;
  border-radius:5px;
}

@keyframes animate {
  0%
  {
    transform: rotate(0deg);
  }
  25%
  {
    transform: rotate(90deg);
  }
  50%
  {
    transform: rotate(180deg);
  }
  75% {
    transform:rotate(270deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}


.box .box-info h3,.box .box-info p, .box img  {
  color:white;
  position:relative;
  z-index:10;
}

.box img {
  margin-top:-70px;
  margin-right:10px;
}


.box-info h3 {
 color:white;
 font-size:1.5em;
}

/* 1 Our Key features  */

/* 0 footer */

/* 1 footer */

/* 0  */

/* 1  */


